# Exercise 1: Pandas Profile Report

In [1]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (4.11.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (2.2.3)
Requirement already satisfied: matplotlib<3.10,>=3.5 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (3.7.1)
Requirement already satisfied: pydantic>=2 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (2.9.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (1.24.3)
Requirement already satisfied: htmlmin==0.1.12 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<5,>=3 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from ydata-profiling) (0.57.0)
Requirement already satisfied: PyWavelets in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from imagehash==4.3.1->ydata-profiling) (9.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.2)
Requirement already satisfied: joblib>=0.14.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from pydantic>=2->ydata-profiling) (2.23.4)
Requirement already satisfied: typing-extensions>=4.6.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: attrs>=19.3.0 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in /home/htetaunglynn/anaconda3/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import ydata_profiling as pdp
import pandas as pd

/home/htetaunglynn/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
url = 'https://raw.githubusercontent.com/htetaunglynn94/big_data_analysis_python/refs/heads/main/lesson_7/bank.csv'
df = pd.read_csv(url, sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [4]:
profile_report = pdp.ProfileReport(df)
profile_report.to_file('profile_report.html')

/home/htetaunglynn/anaconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py:357: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
profile_report.to_file('profile_report.json')

/home/htetaunglynn/anaconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py:357: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Render JSON:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Exercise 2: Missing Value Preprocessing with High Reproducibility

In [6]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [56]:
import collections, random
import numpy as np

In [8]:
replaced = collections.defaultdict(set)
replaced

defaultdict(set, {})

<details><summary>Example of `collections.defaultdict()` usage</summary>  


**With integer**   

```python
d = collections.defaultdict(int)  # Default value is 0 for non-existent keys
print(d['a'])                     # Outputs: 0 (instead of KeyError)
d['b'] += 1
print(d['b'])                     # Outputs: 1
```   


**With list**  

```python
d = collections.defaultdict(list)
d['a'].append(1)
print(d['a'])                     # Outputs: [1]
```  

    
**With set**  
    
```python
d = collections.defaultdict(set)  # Default value is an empty set
d['a'].add(1)
print(d['a'])                     # Outputs: {1}
```  
</details>

In [49]:
# 
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
ix[0:5]

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)]

In [41]:
# same with above code
h = []
for row in range(df.shape[0]):
    for col in range(df.shape[1]):
        h.append((row, col))
print(h[0:5])

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)]

In [66]:
# check for number of rows and columns mapping dataframe dimension
len(set([r for r,c in ix])), len(set([c for r,c in ix])), df.shape, len(df)

(4521, 17, (4521, 17), 4521)

**Note**: `df.shape[0]` = `len(df)`

In [82]:
len(ix), len(ix) * .1, round(len(ix) * .1)

(76857, 7685.700000000001, 7686)

In [83]:
# 10% of the total cells will be replaced
to_replace = int(round(.1 * len(ix)))
to_replace

7686

In [84]:
for row, col in ix:                         # iterate for all row and columns
    if len(replaced[row]) < df.shape[1]-1:  # if number of replaced row is less than total rows
        df.iloc[row, col] = np.nan          # fill NaN value to the random location of the dataframe
        to_replace -= 1                     # count down to_replace to know how many items leave
        replaced[row].add(col)              # add value to a dict key (e,g, {1095: {0}})
        if to_replace == 0:                 # if to_replace value is equal to zero
            break                           # break the operation

In [96]:
df.isna().sum()

age          4249
job          4253
marital      4243
education    4242
default      4253
balance      4267
housing      4268
loan         4238
contact      4251
day          4259
month        4260
duration     4247
campaign     4282
pdays        4259
previous     4242
poutcome     4265
y            4258
dtype: int64

In [86]:
index = 3306
print(replaced[index])
df.loc[index,:]

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16}

age          NaN
job          NaN
marital      NaN
education    NaN
default      NaN
balance      NaN
housing      NaN
loan         NaN
contact      NaN
day          NaN
month        jun
duration     NaN
campaign     NaN
pdays        NaN
previous     NaN
poutcome     NaN
y            NaN
Name: 3306, dtype: object

In [87]:
df.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no
1,NaN,NaN,NaN,NaN,NaN,4789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,failure,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,tertiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,tertiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cellular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
10,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,secondary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
15,NaN,NaN,married,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,4073.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,tertiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN

In [97]:
df._get_numeric_data() # recommend to use df.select_dtypes('number')

       age  balance  day  duration  campaign  pdays  previous
0      NaN      NaN  NaN       NaN       NaN    NaN       NaN
1      NaN   4789.0  NaN       NaN       NaN    NaN       NaN
2      NaN      NaN  NaN       NaN       NaN    NaN       NaN
3      NaN      NaN  NaN       NaN       NaN   -1.0       NaN
4      NaN      NaN  NaN       NaN       NaN    NaN       NaN
...    ...      ...  ...       ...       ...    ...       ...
4516  33.0      NaN  NaN       NaN       NaN    NaN       NaN
4517   NaN      NaN  NaN       NaN       NaN    NaN       NaN
4518   NaN      NaN  NaN       NaN       NaN    NaN       NaN
4519   NaN   1137.0  NaN       NaN       NaN    NaN       NaN
4520   NaN      NaN  NaN       NaN       NaN    NaN       7.0

[4521 rows x 7 columns]

In [99]:
num = df._get_numeric_data()

In [100]:
# first quartile (25th percentile)
Q1 = num.quantile(.25) 
Q1
# the spread of the lower 25% of the data.

age          33.00
balance      66.00
day           8.00
duration    106.25
campaign      1.00
pdays        -1.00
previous      0.00
Name: 0.25, dtype: float64

In [101]:
# third quartile (75th percentile)
Q3 = num.quantile(.75)
Q3
# the spread of the upper 25% of the data.

age           47.25
balance     1495.75
day           21.00
duration     301.50
campaign       3.00
pdays         -1.00
previous       0.00
Name: 0.75, dtype: float64

In [103]:
# Inter Quantile Range
IQR = Q3 - Q1
# Statistical dispersion identifying the variability of the dataset

In [108]:
print("Lower outliers:")
df[num < (Q1 - 1.5 * IQR)]

Lower outliers:

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
print("Upper outliers:")
df[num > (Q1 + 1.5 * IQR)]

Upper outliers:

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,4789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN

#### Test the code

In [73]:
# Create a sample DataFrame
d = pd.DataFrame({
                    'Col 0': [1, 6, 11], 'Col 1': [2, 7, 12],
                    'Col 2': [3, 8, 13], 'Col 3': [4, 9, 14], 
                    'Col 4': [5, 10, 15]})

display(d)
print("Total cells:", d.size)

# Initialize the replaced dictionary as a defaultdict of sets
r_placed = collections.defaultdict(set)
print(r_placed)

# Create a list of all (row, column) indices
x = [(row, col) for row in range(d.shape[0]) for col in range(d.shape[1])]
print("x values:", x)

# Shuffle the indices randomly
random.shuffle(x)
print("random no:", x)

# Calculate how many values to replace (10% of total cells)
t_replace = int(round(0.1 * len(x)))

# Randomly replace values in the DataFrame with NaN
for row, col in x:
    # Print statements for debugging
    print(f"Processing row: {row}, col: {col}")
    print(f"Replaced columns in row {row}: {r_placed[row]}")
    
    # Ensure we do not replace all columns in a row
    if len(r_placed[row]) < d.shape[1] - 1:
        d.iloc[row, col] = np.nan  # Replace the value with NaN
        t_replace -= 1  # Decrease the number of replacements left
        r_placed[row].add(col)  # Mark this column as replaced
        
        # Break the loop if we have reached the desired number of replacements
        if t_replace == 0:
            break

# Print the final DataFrame and the replaced dictionary
print("\nFinal DataFrame:")
print(d)
print("\nReplaced dictionary:")
print(r_placed)

   Col 0  Col 1  Col 2  Col 3  Col 4
0      1      2      3      4      5
1      6      7      8      9     10
2     11     12     13     14     15

Total cells: 15
defaultdict(<class 'set'>, {})
x values: [(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4)]
random no: [(1, 0), (2, 4), (2, 1), (2, 2), (0, 1), (2, 0), (1, 1), (0, 0), (1, 2), (1, 4), (0, 4), (1, 3), (0, 3), (0, 2), (2, 3)]
Processing row: 1, col: 0
Replaced columns in row 1: set()
Processing row: 2, col: 4
Replaced columns in row 2: set()

Final DataFrame:
   Col 0  Col 1  Col 2  Col 3  Col 4
0    1.0      2      3      4    5.0
1    NaN      7      8      9   10.0
2   11.0     12     13     14    NaN

Replaced dictionary:
defaultdict(<class 'set'>, {1: {0}, 2: {4}})

1.5